<!-- .card-body -->

<!-- /.card-body -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <br>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">index</li>
  </ol>

  <div class="card-body">
    <div id="body-container" class="container-fluid">
      <div class="card card-secondary card-outline">
        <div class="card-body">
          <div class="row" style="border: none">
            <div class="col-md-2">
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td>Câu hỏi số 1:</td>
                  </tr>
                  <tr>
                    <td><span>Not yet answered </span></td>
                  </tr>
                  <tr>
                    <td><span>Marked out of 1.00</span></td>
                  </tr>
                  <tr>
                    <td><span>Flag question</span></td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-10">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td style="background: #f3f7f9;">Nhiệm vụ chính yếu của Nhóm Phát triển trong một Sprint là gì?</td>
                  </tr>
                  <tr>
                    <td>Chọn một hoặc nhiều đáp án</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>a. Thực hiện các yêu cầu của Product Owner</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>b. Thực hiện các yêu cầu của Scrum Master</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>c. Lập kế hoạch</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>d. Chuyển giao phần tăng trưởng ở cuối Sprint</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #fbe8cd;">Nhóm Scrum có hai đặc điểm cực kì quan trọng là: tự tổ chức
                      (self-organizing) và liên chức năng (cross-functional). Về tự tổ chức, tự quản, tự định hướng thì
                      dễ hiểu, nhưng thế nào là “liên chức năng”? Bài này mong muốn chỉ ra một số hiểu lầm thường gặp,
                      cũng như đào sâu thêm về khái niệm này trong phạm vi Scrum Framework để người học và thực hành
                      Scrum đỡ bị rơi vào các nghịch lí khi cố gắng đối lập Scrum với những gì hiện có.
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->

              <!-- /.tab-content -->

              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
      <div class="card card-secondary card-outline">
        <div class="card-body">
          <div class="row" style="border: none">
            <div class="col-md-2">
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td>Câu hỏi số 1:</td>
                  </tr>
                  <tr>
                    <td><span>Not yet answered </span></td>
                  </tr>
                  <tr>
                    <td><span>Marked out of 1.00</span></td>
                  </tr>
                  <tr>
                    <td><span>Flag question</span></td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-10">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td style="background: #f3f7f9;">Nhiệm vụ chính yếu của Nhóm Phát triển trong một Sprint là gì?</td>
                  </tr>
                  <tr>
                    <td>Chọn một hoặc nhiều đáp án</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>a. Thực hiện các yêu cầu của Product Owner</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>b. Thực hiện các yêu cầu của Scrum Master</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>c. Lập kế hoạch</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>d. Chuyển giao phần tăng trưởng ở cuối Sprint</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #fbe8cd;">Nhóm Scrum có hai đặc điểm cực kì quan trọng là: tự tổ chức
                      (self-organizing) và liên chức năng (cross-functional). Về tự tổ chức, tự quản, tự định hướng thì
                      dễ hiểu, nhưng thế nào là “liên chức năng”? Bài này mong muốn chỉ ra một số hiểu lầm thường gặp,
                      cũng như đào sâu thêm về khái niệm này trong phạm vi Scrum Framework để người học và thực hành
                      Scrum đỡ bị rơi vào các nghịch lí khi cố gắng đối lập Scrum với những gì hiện có.
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->

              <!-- /.tab-content -->

              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
      <div class="card card-secondary card-outline">
        <div class="card-body">
          <div class="row" style="border: none">
            <div class="col-md-2">
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td>Câu hỏi số 1:</td>
                  </tr>
                  <tr>
                    <td><span>Not yet answered </span></td>
                  </tr>
                  <tr>
                    <td><span>Marked out of 1.00</span></td>
                  </tr>
                  <tr>
                    <td><span>Flag question</span></td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-10">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table no-border">
                  <tr>
                    <td style="background: #f3f7f9;">Nhiệm vụ chính yếu của Nhóm Phát triển trong một Sprint là gì?</td>
                  </tr>
                  <tr>
                    <td>Chọn một hoặc nhiều đáp án</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>a. Thực hiện các yêu cầu của Product Owner</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>b. Thực hiện các yêu cầu của Scrum Master</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>c. Lập kế hoạch</span>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>d. Chuyển giao phần tăng trưởng ở cuối Sprint</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #fbe8cd;">Nhóm Scrum có hai đặc điểm cực kì quan trọng là: tự tổ chức
                      (self-organizing) và liên chức năng (cross-functional). Về tự tổ chức, tự quản, tự định hướng thì
                      dễ hiểu, nhưng thế nào là “liên chức năng”? Bài này mong muốn chỉ ra một số hiểu lầm thường gặp,
                      cũng như đào sâu thêm về khái niệm này trong phạm vi Scrum Framework để người học và thực hành
                      Scrum đỡ bị rơi vào các nghịch lí khi cố gắng đối lập Scrum với những gì hiện có.
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->

              <!-- /.tab-content -->

              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button routerLink="/home/quizzes/attempts" type="submit" class="btn btn-primary" style="width: 205px">
          Nộp bài
        </button>
      </div>
      <div>
      </div>
    </div>
  </div>
  <br>
  <br>

</div>
