<p>You can bind our <code>NgbPagination</code> component with slicing the data list</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th>{{ user.index }}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.email}}</td>
    <td>{{ user.phone}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
  </select>

  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()"
                  [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>
</div>
