<div class="content-wrapper" style="min-height: 415.969px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý danh mục</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý danh mục</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <form [formGroup]="categoryForm" (ngSubmit)="update()" action="/admin/categories/edit" method="post"><input type="hidden" name="_csrf" value="2aadf25a-ed64-46c3-9118-d12d87b5c9e3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Edit danh muc</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>
                        <strong>Tên danh mục</strong>
                      </label>
                      <input type="text" class="form-control" formControlName="name" placeholder="Điền tên" >
                      <div *ngIf="name.errors.minlength && name.touched" style="color: #e4606d">
                        <h3>Độ dài tối thiểu là 4 kí tự!! và không được để trống</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">

                    <label><strong>Mô tả danh mục</strong></label>
                    <textarea class="form-control" formControlName="description" placeholder="Điền mô tả" id="description" style="height: 192px"></textarea>
                    <div *ngIf="name.errors.minlength && description.touched" style="color: #e4606d">
                      <h3>Không được để trống</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-success" style="width: 205px">
                  <i class="fas fa-plus-circle" aria-hidden="true"></i>
                  <span>&nbsp;</span>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
