<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý lượt thi</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý lượt thi</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- .row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- .card-header -->
            <div class="card-header">
              <h3 class="card-title">Danh sách lượt thi</h3>
            </div>
            <!-- /.card-header -->

            <!-- .card-body -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <form method="get">
                        <div class="form-inline" style="float: right">
                          <input class="form-control form-control-sm"
                                 style="width: 340px"
                                 name="s" id="s"
                                 type="search"
                                 placeholder="Nhập tên hoặc email hoặc SĐT"
                                 aria-controls="example1">
                          <span>&nbsp;</span>
                          <a class="btn btn-secondary btn-sm">
                            <i class="fas fa-search"></i>
                            Tìm kiếm
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <table class="table table-hover text-nowrap table-responsive">
                      <thead>
                      <tr>
                        <th style="width: 5%" class="text-center">#</th>
                        <th style="width: 15%">Học viên</th>
                        <th style="width: 25%">Email</th>
                        <th style="width: 8%" class="text-center">Trạng thái</th>
                        <th style="width: 10%" class="text-center">Điểm số</th>
                        <th style="width: 7%" class="text-center">Ngày khởi tạo</th>
                        <th style="width: 8%" class="text-center">Ngày hoàn thành</th>
                        <th style="width: 15%"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let attempt of attempts | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                        <th class="text-center">{{attempt.id}}</th>
                        <td>{{attempt.username}}</td>
                        <td>{{ attempt.email}}</td>
                        <td class="text-center">{{attempt.status}}</td>
                        <td class="text-center">{{ attempt.averageScore}}</td>
                        <td class="text-center">12-12-2020</td>
                        <td class="text-center">12-12-2020</td>
                        <td class="project-actions text-center">
                          <a class="btn btn-info btn-sm"
                             [routerLink]="'/admin/attempts/view/' + attempt.id">
                            <i class="fas fa-folder"></i>
                            Xem
                          </a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <pagination-controls style="float: right; color:#2eca6a "
                                     (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>

