<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 mx-auto blog-main">
      <hr>
      <form [formGroup]="FormUser" (ngSubmit)="updateUser()">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card card-dark card-outline">
              <div class="card-body box-profile">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle"
                           src="assets/img/default-avatar.jpg"
                           alt="User profile picture">
                    </div>
                  </div>
                </div>
<!--                <div class="row">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="form-group">-->
<!--                      <label class="col-form-label">-->
<!--                        <strong>Ảnh đại diện:</strong>-->
<!--                      </label>-->
<!--                      <div class="custom-file">-->
<!--                        <input type="file" class="custom-file-input"-->
<!--                               id="customFile" >-->
<!--                        <label class="custom-file-label" for="customFile">Choose-->
<!--                          file</label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputName">
                        <strong>Tài khoản:</strong>
                      </label>
                      <input type="text" class="form-control"
                             id="exampleInputName"
                             placeholder="Điền tên" formControlName="username">
                    </div>
                  </div>
                </div>
                <div *ngIf="username.errors.required && username.touched" style="color: #e4606d">
                  <h3>Vui lòng không để trống</h3>
                </div>
                <div *ngIf="username.errors.minlength && username.touched" style="color: #e4606d">
                  <h3>Tài khoản phải tối thiểu 4 kí tự</h3>
                </div>
                <div *ngIf="username.errors.maxlength && username.touched" style="color: #e4606d">
                  <h3>Tài khoản không đặt nhiều hơn 8 kí tự </h3>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email:</label>
                      <input type="email" class="form-control"
                             id="exampleInputEmail1"
                             placeholder="Điền email" formControlName="email">
                    </div>
                  </div>
                </div>
                <div *ngIf="email.errors.email && email.touched" style="color: #e4606d">
                  <h3>Vui lòng nhập hợp lệ email (tên không dấu .@gmail.com/email.com)</h3>
                </div>
                <div *ngIf="email.errors.required && email.touched" style="color: #e4606d">
                  <h3>Vui lòng không để trống</h3>
                </div>
<!--                <div class="row">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword1">Mật khẩu:</label>-->
<!--                      <input type="password" class="form-control"-->
<!--                             id="exampleInputPassword1"-->
<!--                             placeholder="Điền mật khẩu" formControlName="password" >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group"><label class="col-form-label"><strong>Giới
                      tính:</strong></label>
                      <select name="gender"
                                                    id="gender"
                                                    class="form-control m-input" formControlName="gender">
                      <option value="Nữ">Nữ</option>
                      <option value="Nam">Nam</option>

                    </select></div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group"><label class="col-form-label"><strong>Nghề nghiệp:</strong></label>
                      <select name="title"
                                                    id="title"
                                                    class="form-control m-input" formControlName="title">
                        <option value="Giáo viên">Giáo viên</option>
                        <option value="Sinh viên, học sinh">Sinh viên, học sinh</option>
                        <option value="Lập trình viên">Lập trình viên</option>
                        <option value="Khác">Khác</option>
                    </select></div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label">
                        <strong>Số điện thoại:</strong>
                      </label>
                      <input type="text"
                             name="user[phone]"
                             id="user_phone"
                             class="form-control" formControlName="phone">
                    </div>
                  </div>
                  <div *ngIf="phone.errors.required && phone.touched" style="color: #e4606d">
                    <h3>Vui lòng không để trống</h3>
                  </div>
                  <div *ngIf="phone.errors.pattern && phone.touched" style="color: #e4606d">
                    <h3>Số điện thoại không hợp lệ</h3>
                  </div>

                </div>
                <br>
                <button class="btn btn-secondary btn-block"><b>Cập nhật thông tin</b></button>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.blog-main -->
  </div><!-- /.row -->
</main><!-- /.container -->
