<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 mx-auto blog-main">
      <hr>
      <form [formGroup]="newPassword" (ngSubmit)="changePassword()">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="card card-dark card-outline">
                <div class="card-body box-profile">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="assets/img/default-avatar.jpg"
                             alt="User profile picture">

                      </div>
                    </div>
                  </div>
                  <h3 class="profile-username text-center"><span>{{currentUser.username}}</span></h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputPassword">Mật khẩu:</label>
                        <input type="password" class="form-control"
                               id="exampleInputPassword"
                               placeholder="Điền mật khẩu" formControlName="password">
                        <div *ngIf="passwordUser.errors.minlength && passwordUser.touched" style="color: #e4606d">
                          <h3>Độ dài tối tiểu là 6 kí tự và không vượt quá 12 kí tự</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputPassword2">Nhập lại mật khẩu:</label>
                        <input type="password" class="form-control"
                               id="exampleInputPassword2"
                               placeholder="Điền mật khẩu" formControlName="confirmPassword">
                        <div *ngIf="passwordUser.errors.minlength && passwordUser.touched" style="color: #e4606d">
                          <h3>Độ dài tối tiểu là 6 kí tự và không vượt quá 12 kí tự</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-secondary btn-block"><b>Xác nhận</b></button>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.blog-main -->
  </div><!-- /.row -->
</main><!-- /.container -->

