<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home/user">Đặng Trần Nam Anh</a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" >Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/quizzes">Bài thi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/user">Trang cá nhân</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/home/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Trang quản lý</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

