<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="http://localhost:4200/admin/dashboard" class="brand-link text-center">
    <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-1" alt="User Image"
         style="opacity: .5">
    <br>
    <span class="brand-text font-weight-light" *ngIf="currentUser" >{{currentUser.username}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fa-tachometer-alt"></i>
            </span>Quản trị chung
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/users" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fa-user"></i>
            </span>Quản trị người dùng
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fa-folder-open"></i>
            </span>Quản trị danh mục
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/quizzes" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fas fa-file-alt"></i>
            </span>Quản trị bài thi
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/questions" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fa-question-circle"></i>
            </span>Quản trị câu hỏi
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/studies" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fas fa-landmark"></i>
            </span>Gán bài thi
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/attempts" routerLinkActive="active" >
            <p><span><i class="nav-icon fas fa-medal"></i>
            </span>Kết quả thi
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLinkActive="active" >
            <p><span ><i class="nav-icon fas fa-power-off"></i>
            </span>Đăng xuất
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
