<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý người dùng</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý người dùng</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="container-fluid">
        <!-- .row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- .card-header -->
              <div class="card-header">
                <h3 class="card-title">Khởi tạo người dùng</h3>
              </div>
              <!-- /.card-header -->

              <!-- .card-body -->
              <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="assets/img/default-avatar.jpg"
                                 alt="User profile picture">
                          </div>
                        </div>
                      </div>
<!--                      <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                          <div class="form-group">-->
<!--                            <label class="col-form-label">-->
<!--                              <strong>Ảnh đại diện:</strong>-->
<!--                            </label>-->
<!--                            <div class="custom-file">-->
<!--                              <input type="file" class="custom-file-input"-->
<!--                                     id="customFile" (change)="saveImg($event)">-->
<!--                              <label class="custom-file-label" for="customFile">Choose-->
<!--                                file</label>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="username">
                              <strong>Tài khoản</strong>
                            </label>
                            <input type="text" class="form-control"
                                   id="username"
                                   placeholder="Điền tên" formControlName="username"  name="userame" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control"
                                   id="email"
                                   placeholder="Điền email" formControlName="email" >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" class="form-control"
                                   id="password"
                                   placeholder="Điền mật khẩu" formControlName="password" name="password">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group"><label class="col-form-label"><strong>Giới
                            tính:</strong></label><select name="gender"
                                                          id="gender"
                                                          class="form-control m-input" formControlName="gender">
                            <option value="Nữ">Nữ</option>
                            <option value="Nam">Nam</option>
                          </select></div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="col-form-label">
                              <strong>Số điện thoại</strong>
                            </label>
                            <input type="text"
                                   name="phone"
                                   id="phone"
                                   class="form-control" formControlName="phone">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label class="col-form-label">
                            <strong>Nghề nghiệp</strong></label>
                          <select name="role" class="form-control" formControlName="title">
                            <option value="">Khác </option>
                            <option value="Giáo viên">Giáo viên</option>
                            <option value="Sinh viên, học sinh">Sinh viên, học sinh</option>
                            <option value="Lập trình viên">Lập trình viên</option>
                          </select>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-success" style="width: 205px">
                  <i class="fas fa-plus-circle" aria-hidden="true"></i>
                  <span>&nbsp;</span>
                  Thêm người dùng
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
    </form>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
