
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý câu hỏi</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý câu hỏi</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- .row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- .card-header -->
            <div class="card-header">
              <h3 class="card-title">Danh sách câu hỏi</h3>
            </div>
            <!-- /.card-header -->

            <!-- .card-body -->
            <div class="card-body">
              <div id="body-container" class="container">
                <div class="row">
                  <div id="quiz-info-left" class="col-md-3">
                    <div class="row">
                      <div id="quiz-info-left1" class="col-md-9">
                            <span> Flag question
                            </span>
                      </div>
                    </div>
                    <div class="row">
                      <div id="quiz-info-left2" class="col-md-9">
                            <span> Question level
                            </span>
                      </div>
                    </div>
                    <div class="row">
                      <div id="quiz-info-left3" class="col-md-9">
                            <span> Question type
                            </span>
                      </div>
                    </div>
                  </div>
                  <div id="quiz-info-right" class="col-md-9">
                    <div class="row">
                      <div class="col-md-12
                            profile-header">
                        <h5 id="quiz-name-h5">Quiz_name</h5>
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div id="quiz-content-container" class="col-md-10">
                        <p>
                          Thế nào là cơ sở dữ liệu quan hệ?
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div id="quiz-answer-container" class="col-md-10">
                        <!-- Group of default radios - option 1 -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" disabled="">
                          <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
                        </div>

                        <!-- Group of default radios - option 2 -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked="" disabled="">
                          <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
                        </div>

                        <!-- Group of default radios - option 3 -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios" disabled="">
                          <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
                        </div>
                        <!-- Group of default radios - option 4 -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios" disabled="">
                          <label class="custom-control-label" for="defaultGroupExample4">Option 4</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div id="quiz-explain-container" class="col-md-10">
                        <p>Explain: The correct answer is: Cơ sở dữ liệu
                          được xây dựng dựa trên mô hình dữ liệu quan hệ
                          và khai thác CSDL quan hệ</p>
                      </div>
                    </div>
                  </div>

                </div>
                <div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>





