<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý câu hỏi</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý câu hỏi</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- .row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- .card-header -->
            <div class="card-header">
              <h3 class="card-title">Thông tin câu hỏi</h3>
            </div>
            <!-- /.card-header -->

            <!-- .card-body -->
            <div class="card-body">
              <div id="body-container" class="container-fluid">
                <div class="card card-secondary card-outline">
                  <div class="card-body">
                    <div class="row" style="border: none">
                      <div class="col-md-2">
                        <div class="card-body table-responsive p-0">
                          <table class="table no-border">
                            <tr>
                              <td>Câu hỏi số 1:</td>
                            </tr>
                            <tr>
                              <td><span>Not yet answered </span></td>
                            </tr>
                            <tr>
                              <td><span>Marked out of 1.00</span></td>
                            </tr>
                            <tr>
                              <td><span>Flag question</span></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-md-10">

                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                          <table class="table no-border">
                            <tr>
                              <td style="background: #f3f7f9;">{{question.content}}</td>
                            </tr>
                            <tr>
                              <td>{{question.type}}</td>
                            </tr>
                            <tr *ngFor="let questionAnswer of question.questionAnswers; let i = index">
                              <td *ngIf="question.type == 'multiple-choice'">
                                <input  [checked]="questionAnswer.isCorrect == true" type="checkbox" name="answer" disabled>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <span>{{questionAnswer.code}}.</span>
                                <span>&nbsp;&nbsp;</span>
                                <span>{{questionAnswer.content}}</span>
                              </td>
                              <td *ngIf="question.type == 'single-choice'">
                                <input  [checked]="questionAnswer.isCorrect == true" type="radio" name="answer" disabled>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <span>{{questionAnswer.code}}.</span>
                                <span>&nbsp;&nbsp;</span>
                                <span>{{questionAnswer.content}}</span>
                              </td>
                              <td *ngIf="question.type == 'true-false'">
                                <input  [checked]="questionAnswer.isCorrect == true" type="radio" name="answer" disabled>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <span>{{questionAnswer.content}}</span>
                              </td>
                              <td *ngIf="question.type == 'input'">
                                <p>Nhập câu trả lời : <span><span>&nbsp;&nbsp;&nbsp;</span><input [value]="questionAnswer.content" type="text" name="answer" disabled></span></p>
                              </td>
                            </tr>
                            <tr>
                              <td style="background: #fbe8cd;">{{question.explanation}}</td>
                            </tr>
                          </table>
                        </div>
                        <!-- /.card-body -->

                        <!-- /.tab-content -->

                        <!-- /.nav-tabs-custom -->
                      </div>
                      <!-- /.col -->
                    </div>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>





