<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý câu hỏi</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý câu hỏi</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- .row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- .card-header -->
            <div class="card-header">
              <h3 class="card-title">Thông tin câu hỏi</h3>
            </div>
            <!-- /.card-header -->

            <!-- .card-body -->
            <div class="card-body">
              <div id="body-container" class="container-fluid">
                <div class="card card-secondary card-outline">
                  <div class="card-body">
                    <div class="row" style="border: none">
                      <div class="col-md-2">
                        <div class="card-body table-responsive p-0">
                          <table class="table no-border">
                            <tr>
                              <td>Câu hỏi số 1:</td>
                            </tr>
                            <tr>
                              <td><span>Not yet answered </span></td>
                            </tr>
                            <tr>
                              <td><span>Marked out of 1.00</span></td>
                            </tr>
                            <tr>
                              <td><span>Flag question</span></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-md-10">

                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                          <table class="table no-border">
                            <tr>
                              <td style="background: #f3f7f9;">Nhiệm vụ chính yếu của Nhóm Phát triển trong một Sprint là gì?</td>
                            </tr>
                            <tr>
                              <td>Chọn một hoặc nhiều đáp án</td>
                            </tr>
                            <tr>
                              <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>a. Thực hiện các yêu cầu của Product Owner</span></td>
                            </tr>
                            <tr>
                              <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>b. Thực hiện các yêu cầu của Scrum Master</span></td>
                            </tr>
                            <tr>
                              <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>c. Lập kế hoạch</span></td>
                            </tr>
                            <tr>
                              <td><input type="checkbox" name="answer"><span></span>&nbsp;&nbsp;&nbsp;<span>d. Chuyển giao phần tăng trưởng ở cuối Sprint</span></td>
                            </tr>
                            <tr>
                              <td style="background: #fbe8cd;">Nhóm Scrum có hai đặc điểm cực kì quan trọng là: tự tổ chức (self-organizing) và liên chức năng (cross-functional). Về tự tổ chức, tự quản, tự định hướng thì dễ hiểu, nhưng thế nào là “liên chức năng”? Bài này mong muốn chỉ ra một số hiểu lầm thường gặp, cũng như đào sâu thêm về khái niệm này trong phạm vi Scrum Framework để người học và thực hành Scrum đỡ bị rơi vào các nghịch lí khi cố gắng đối lập Scrum với những gì hiện có.</td>
                            </tr>
                          </table>
                        </div>
                        <!-- /.card-body -->

                        <!-- /.tab-content -->

                        <!-- /.nav-tabs-custom -->
                      </div>
                      <!-- /.col -->
                    </div>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>





