<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản lý người dùng</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý người dùng</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <form  [formGroup]="userForm" (ngSubmit)="update()">
      <div class="container-fluid">
        <!-- .row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- .card-header -->
              <div class="card-header">
                <h3 class="card-title">Khởi tạo người dùng</h3>
              </div>
              <!-- /.card-header -->

              <!-- .card-body -->
              <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="assets/img/default-avatar.jpg"
                                 alt="User profile picture">
                          </div>
                        </div>
                      </div>
<!--                      <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                          <div class="form-group">-->
<!--                            <label class="col-form-label">-->
<!--                              <strong>Ảnh đại diện:</strong>-->
<!--                            </label>-->
<!--                            <div class="custom-file">-->
<!--                              <input type="file" class="custom-file-input"-->
<!--                                     id="customFile" formControlName="imageSource">-->
<!--                              <label class="custom-file-label" for="customFile">Choose-->
<!--                                file</label>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">
                              <strong>Tài khoản</strong>
                            </label>
                            <input type="text" class="form-control"
                                   id="exampleInputName"
                                   placeholder="Điền tên" formControlName="username">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control"
                                   id="exampleInputEmail1"
                                   placeholder="Điền email" formControlName="email">
                          </div>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                          <div class="form-group">-->
<!--                            <label for="exampleInputPassword1">Password</label>-->
<!--                            <input type="password" class="form-control"-->
<!--                                   id="exampleInputPassword1"-->
<!--                                   placeholder="Điền mật khẩu" formControlName="password">-->
<!--                          </div>-->
<!--                        </div>-->

<!--                         Button trigger modal-->
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#updateModal" style="width: 150px; height: 50px" >
                              Đổi mật khẩu
                            </button>
                            <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form [formGroup]="newPassword2" (ngSubmit)="changePassword()" >
                                      <div class="form-group">
                                        <label for="password">Mật khẩu</label>
                                        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
                                      </div>
                                      <div *ngIf="passwordUser.errors && passwordUser.touched" style="color: #e4606d">
                                        <h3>Độ dài tối tiểu là 6 kí tự và không vượt quá 12 kí tự</h3>
                                      </div>
                                      <div class="form-group">
                                        <label for="password1">Nhập lại mật khẩu</label>
                                        <input type="password" formControlName="confirmPassword" class="form-control" id="password1"
                                               placeholder="Nhập lại mật khẩu">
                                      </div>
                                      <div *ngIf="passwordUser.errors && passwordUser.touched" style="color: #e4606d">
                                        <h3>Mật khẩu không trùng khớp</h3>
                                      </div>
                                      <div *ngIf="passwordUser.errors && passwordUser.touched" style="color: #e4606d">
                                        <h3>Độ dài tối tiểu là 6 kí tự và không vượt quá 12 kí tự</h3>
                                      </div>
                                      <button type="submit" class="btn btn-primary">Xác nhận</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group"><label class="col-form-label"><strong>Giới
                            tính:</strong></label><select name="gender"
                                                          id="user_gender"
                                                          class="form-control m-input" formControlName="gender">
                            <option value="Nữ">Nữ</option>
                            <option value="Nam">Nam</option>
                          </select></div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="col-form-label">
                              <strong>Số điện thoại:</strong>
                            </label>
                            <input type="text"
                                   name="user[phone]"
                                   id="user_phone"
                                   class="form-control" formControlName="phone">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label class="col-form-label">
                            <strong>Quyền:</strong></label>
                          <select name="role" class="form-control" formControlName="roles">
                            <option value="2">Người dùng</option>
                            <option value="1">Admin</option>
                          </select>gi
                        </div>
                        <div class="col-md-3">
                          <label class="col-form-label">
                            <strong>Nghề nghiệp</strong></label>
                          <select name="role" class="form-control" formControlName="title">
                            <option value="">Khác </option>
                            <option value="Giáo viên">Giáo viên</option>
                            <option value="Sinh viên, học sinh">Sinh viên, học sinh</option>
                            <option value="Lập trình viên">Lập trình viên</option>
                          </select>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <label class="col-form-label"><strong>Trạng thái: </strong>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                          </label>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="isDeleted" value="1" checked="true" formControlName="isDeleted">Hoạt động
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="isDeleted" value="0" formControlName="isDeleted">Tạm dừng
                            </label>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-success" style="width: 205px">
                  <i class="fas fa-plus-circle" aria-hidden="true"></i>
                  <span>&nbsp;</span>
                  Cập nhập người dùng
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
    </form>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>

