
<!--Design by Minh-->
<div class="container col-12">
  <br>
  <div class="container" id="top">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Danh sách bài thi</li>
    </ol>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
<!--          <a href="compose.html" class="btn btn-primary btn-block mb-3">Compose</a>-->
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Danh mục</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a type="button" class="nav-link" (click)="getAllStudies()">
                    <i class="fas fa-inbox" ></i> All
                    <span><span class="badge bg-primary float-right">{{categories.length}}</span></span>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column" *ngFor="let category of categories">
                <li class="nav-item active">
                  <a type="button" class="nav-link" (click)="getStudies(category.id)">
                    <i class="fas fa-inbox" ></i> {{category.name}}
                    <span *ngIf="category.studies.length == 0"><span class="badge bg-danger float-right">{{category.studies.length}}</span></span>
                    <span *ngIf="category.studies.length != 0"><span class="badge bg-primary float-right">{{category.studies.length}}</span></span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Danh sách bài thi</h3>
<!--              <div class="card-tools">-->
<!--                <div class="input-group input-group-sm">-->
<!--                  <input type="text" class="form-control" placeholder="Tìm kiếm bài thi ...">-->
<!--                  <div class="input-group-append">-->
<!--                    <div class="btn btn-primary">-->
<!--                      <i class="fas fa-search"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0 col-12">
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped col-12" >
                  <tbody>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Tên bài thi</th>
                    <th>Mô tả</th>
                    <th class="text-center">Danh mục</th>
                    <th class="text-center">Số câu hỏi</th>
                    <th class="text-center">Ngày bắt đầu</th>
                    <th class="text-center">
                    </th>
                  </tr>
                  <tr *ngFor="let study of studyView; let i = index;">
                    <td class="text-center">{{i+1}}</td>
                    <td>
                      <a [routerLink]="'/home/quizzes/' + study.id + '/attempts/'">{{study.quizname}}</a>
                    </td>
                    <td>{{study.quiz.description}}</td>
                    <td class="text-center"> {{study.quiz.category.name}}</td>
                    <td class="text-center">{{study.quiz.questions.length}}</td>
                    <td class="text-center">12-12-2020</td>
                    <td class="text-center">
                      <a class="btn btn-primary" [routerLink]="'/home/quizzes/' + study.id + '/attempts/'"><b>Xem</b></a>
                    </td>
                    </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-sync-alt"></i>
                </button>
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <!-- /.float-right -->
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>
